body {
    font-family: "Open Sans", sans-serif;
}

header {
    background-image: linear-gradient(to right, #4c66c7,#010436);
    color: white;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

.search-container {
    border-bottom: solid 3px grey;
}

.btn-search {
    background-color: #519be0;
    color: white;
}

.input-group {
    color: grey;
}

.btn-history {
    background-color: #a1a1a1;
    width: 100%;
}

.current-weather {
    border: solid 3px grey;
}

span {
    display: flex;
    white-space: pre-wrap;
}

img {
    max-width: 65px;
}

.uv {
    color: white;
    padding: 0 10px;
    border-radius: 5px;
}

.uv-favorable {
    background-color: #016e03;
}

.uv-moderate {
    background-color: #bab400;
}

.uv-severe {
    background-color: #780000;
}

.forecast, main {
    flex-wrap: wrap;
}

.card {
    background-color: #212436;
    color: white;
    margin-bottom: 10px;
    padding-top: 5px;
}

/* hide html element structure for city weather at page load */
#city-weather {
    display: none;
}

